<header class="navbar">
  <div class="container">
    <div id="logo">Gatebook</div>
    <ul class="header-right">
      <li>Top</li>
      <li>About</li>
    </ul>
  </div>
</header>

<div class="container">
  <h1>Gatebookとは？</h1>
  <p>GatebookとはRuby on Railsというフレームワークを駆使した、
記事投稿SNSサービスです。
近況やつぶやきを投稿し、サービス上の友達と楽しくコミュニケーションできます。</p>
</div>
