<header class="navbar">
  <div class="container">
    <div id="logo">Gatebook</div>
    <ul class="header-right">
      <li><%= link_to "Top", root_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </div>
</header>

<div class="container">
  <% message = "ようこそGatebookへ！" %>
  <h1><%= message %></h1>
  <h1><%= @message2 %></h1>
</div>
