<header class="navbar">
  <div class="container">
    <div id="logo">Gatebook</div>
    <ul class="header-right">
      <li>Top</li>
      <li>About</li>
    </ul>
  </div>
</header>

<div class="container">
  <h1>ようこそGatebookへ！</h1>
</div>
